<!--<div class="blur-2xl"><!-- banner -->
<app-nav-component></app-nav-component>

<!-- Muestra el loader mientras loading es true -->
<div *ngIf="this.loading" class="flex justify-center">
  <span class="loading loading-dots loading-xl"></span>
</div>

<!-- Muestra el contenido cuando loading es false -->
<div *ngIf="!this.loading">
  <!-- fotos -->
  <app-wpp-button-component></app-wpp-button-component>
  <div
    class="collapse collapse-arrow bg-base-100 border border-base-300 rounded-box"
  >
    <div
      class="collapse collapse-arrow border border-base-300 bg-base-100 rounded-box"
    >
      <input type="checkbox" id="toggle-accordion" class="peer" />
      <label
        for="toggle-accordion"
        class="collapse-title font-bold text-lg cursor-pointer"
      >
        Especificaciones
      </label>
      <div class="collapse-content text-sm">
        <strong>Condición de la batería:</strong> {{ cellphone.batteryCondition
        }}%<br />
        <strong>Marca:</strong> {{ cellphone.brand.name }}<br />
        <strong>Color:</strong> {{ cellphone.color.name }}<br />
        <strong>Condición del celular:</strong> {{ cellphone.condition.name
        }}<br />
        <strong>Modelo:</strong> {{ cellphone.model.name }}<br />
        <strong>Almacenamiento:</strong> {{ cellphone.storage.number }} {{
        cellphone.storage.unit }}
      </div>
    </div>
  </div>
</div>
