<div class="flex justify-center items-center min-h-screen bg-base-200 p-4">
  <form
    (ngSubmit)="onSubmit(cellphoneForm)"
    #cellphoneForm="ngForm"
    class="w-full max-w-2xl bg-white p-6 rounded shadow flex flex-col gap-4"
  >
    <div class="flex items-center gap-4">
      <div class="flex-1">
        <legend class="text-lg font-semibold">Marca</legend>
        <app-select-secondary-component
          [componentFor]="'Marca'"
        ></app-select-secondary-component>
      </div>
      <app-add-secondary-component
        [url]="'brands'"
      ></app-add-secondary-component>
    </div>

    <div class="flex items-center gap-4">
      <div class="flex-1">
        <legend class="text-lg font-semibold">Modelo</legend>
        <app-select-secondary-component
          [componentFor]="'Modelo'"
        ></app-select-secondary-component>
      </div>
      <app-add-secondary-component
        [url]="'models'"
      ></app-add-secondary-component>
    </div>

    <div class="flex items-center gap-4">
      <div class="flex-1">
        <legend class="text-lg font-semibold">Color</legend>
        <app-select-secondary-component
          [componentFor]="'Color'"
        ></app-select-secondary-component>
      </div>
      <app-add-secondary-component
        [url]="'colors'"
      ></app-add-secondary-component>
    </div>

    <div class="flex items-center gap-4">
      <div class="flex-1">
        <legend class="text-lg font-semibold">Condición del celular</legend>
        <app-select-secondary-component
          [componentFor]="'Condición'"
        ></app-select-secondary-component>
      </div>
      <app-add-secondary-component
        [url]="'conditions'"
      ></app-add-secondary-component>
    </div>

    <div class="flex items-center gap-4">
      <div class="flex-1">
        <legend class="text-lg font-semibold">Almacenamiento</legend>
        <app-select-secondary-component
          [componentFor]="'Almacenamiento'"
        ></app-select-secondary-component>
      </div>
      <app-add-secondary-component
        [url]="'storages'"
      ></app-add-secondary-component>
    </div>

    <div>
      <legend class="text-lg font-semibold">Precio</legend>
      <input
        [(ngModel)]="cellphone.price"
        name="price"
        class="input input-info w-full"
        required
      />
    </div>

    <div>
      <legend class="text-lg font-semibold">Stock</legend>
      <input
        [(ngModel)]="cellphone.stock"
        name="price"
        class="input input-info w-full"
        required
      />
    </div>

    <div>
      <legend class="text-lg font-semibold">Condición de la bateria</legend>
      <input
        [(ngModel)]="cellphone.batteryCondition"
        name="price"
        class="input input-info w-full"
        required
      />
    </div>

    <div>
      <legend class="text-lg font-semibold">Descripción</legend>
      <textarea
        [(ngModel)]="cellphone.description"
        name="description"
        class="textarea textarea-success w-full"

      ></textarea>
    </div>

    <div class="flex items-center gap-4">
      <legend class="text-lg font-semibold">
        Mostrar disponible automáticamente
      </legend>
      <label class="toggle">
        <input type="checkbox" [(ngModel)]="cellphone.shown" name="shown" />
      </label>
    </div>

    <div class="flex justify-end">
      <button type="submit" class="btn btn-info btn-sm" [routerLink]="['/inventory']" routerLinkActive="router-link-active">Guardar</button>
    </div>
  </form>
</div>
