<div #carousel class="carousel carousel-vertical rounded-box h-96">
  <div class="carousel-item h-full justify-center">
    <img
      src="https://www.iplace.com.uy/ccstore/v1/images/?source=/file/v750326862317701829/products/100002384.00-apple-iphone-14-512gb-azul-mpxn3be-a.jpg"
    />
  </div>
  <div class="carousel-item h-full justify-center">
    <img
      src="https://www.mundoelectro.com.uy/imgs/productos/productos34_7390.jpg"
    />
  </div>
  <div class="carousel-item h-full justify-center">
    <img
      src="https://f.fcdn.app/imgs/b148a5/www.market.com.uy/markuy/762f/original/catalogo/EU299_1/1920-1200/celular-iphone-14-128gb-pre-utilizado-v01.jpg"
    />
  </div>
  <div class="carousel-item h-full justify-center">
    <img
      src="https://tienda.antel.com.uy/razuna/assets/1/FF15F42BEE70449C9FD9CC4ECAA4F03E/img/6DE7F87D79C340FD92EA0CCD7D477CD0/iphone-16-1_6DE7F87D79C340FD92EA0CCD7D477CD0.jpg"
    />
  </div>
</div>
