<div
  class="collapse collapse-arrow bg-base-100 border border-base-300 rounded-box"
>
  <div
    class="collapse collapse-arrow border border-base-300 bg-base-100 rounded-box"
  >
    <input type="checkbox" id="toggle-accordion" class="peer" />
    <label
      for="toggle-accordion"
      class="collapse-title font-bold text-lg cursor-pointer flex items-center gap-2"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="lucide lucide-truck-icon lucide-truck"
      >
        <path d="M14 18V6a2 2 0 0 0-2-2H4a2 2 0 0 0-2 2v11a1 1 0 0 0 1 1h2" />
        <path d="M15 18H9" />
        <path
          d="M19 18h2a1 1 0 0 0 1-1v-3.65a1 1 0 0 0-.22-.624l-3.48-4.35A1 1 0 0 0 17.52 8H14"
        />
        <circle cx="17" cy="18" r="2" />
        <circle cx="7" cy="18" r="2" />
      </svg>
      Envios
    </label>
    <div class="collapse-content text-sm">
      <strong>SALTO - COORDINAR VISITA</strong> Si sos de Salto, podés coordinar
      una visita para ver (sin compromiso) o retirar el dispositivo de tu preferencia.<br />
      <strong>MONTEVIDEO Y RESTO DEL PAIS - ENVIO DAC</strong> Tu compra será
      enviada de Salto a Montevideo en un plazo de hasta 72hs hábiles.
      <br />
      <strong>CONCORDIA - RETIRO</strong> Si sos de Concordia (Argentina), podés
      coordinar el retiro de la compra. Actualmente no hacemos envios fuera de
      Uruguay.<br />
    </div>
  </div>
</div>
