<app-nav-component></app-nav-component>
<div class="flex items-center justify-center p-4">
  <h1 class="text-3xl font-bold">Historial de ventas</h1>
</div>
<ul class="w-full max-w-xl mx-auto list bg-base-100 rounded-box shadow-md">
  @for (sale of this.sales(); track $index) {
  <li class="list-row">
    <div>
      <img
        class="size-20 rounded-box"
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQgntIsnU-hhss_yUZ1k_VNlt-gxmlL2CuxPw&s"
      />
    </div>
    <div>
      <div class="text-s font-bold">
        {{sale.cellphone.model.name}} - {{sale.city.name}}
      </div>
      <div class="text-xs font-semibold opacity-60">{{sale.date_hour}}</div>
    </div>
      <app-details-component [id]="sale.id"></app-details-component>
  </li>
  }
</ul>
